#my_menu {
  background-color: black;
  display: flex;
  padding: 20px;
}

#my_menu a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

#my_menu a:hover {
  background-color: red;
}

.ifsp {
  background-color: green;
}

main {
  text-align: center;
}

.imagem-oval {
  width: 400px; /* Defina a largura da imagem */
  height: 400px; /* Defina a altura da imagem */
  border-radius: 45%; /* Use 50% para criar uma forma oval */
}